<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true"/>

		<authentication mode="Windows" />

		<!-- Bổ sung cho WebMethod -->
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
	</system.web>
</configuration>
